<div class="main" ng-controller="auth">
   <div class="header">
      <div class="logo">
         <img src="app/images/avatars.jpg">
      </div>
   </div>
    <div class="people_block">
        <h2 class="title_people">
            Сотрудники:
        </h2>
        <div class="people">
            <div ng-repeat="waiter in waiters">
                <div class="pos_people" ng-click="selectUser(waiter);">
                    {{waiter.FirstName + ' ' + waiter.LastName}}
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="admin" ng-click="selectUser(0);">
            Я - администратор
        </div>
        <div class="copyrights">
            (с) Студенты
        </div>
    </div>
</div>