<div ng-controller="dishes">
    <div class="header">
        <div class="wrapper_header">
            <h3 class="title_header">Список блюд</h3>
            <div class="id_people">{{fio}}</div>
        </div>
    </div>
    <div class="dishes_container" style="margin-top: 80px; float: left; width: 98%;">
        <div class="dishes_tableContainer" style="width: 100%;">
            <table class="dishes__table">
                <thead class="dishes__table-head">
                <tr>
                    <th class="dishes__th">Название</th>
                    <th class="dishes__th">Цена</th>
                    <th class="dishes__th">Категория</th>
                    <th class="dishes__th dishes_th-editColumn">Правка </th>
                </tr>
                </thead>
                <tbody class="dishes__table-body">
                <tr ng-repeat="dish in dishes | orderBy:sortField">
                    <td class="dishes__th">{{dish.Name}}</td>
                    <td class="dishes__th">{{dish.Cost}}</td>
                    <td class="dishes__th">{{dish.Category}}</td>
                    <td class="dishes__th"><span><div class="dishes__edit-button" ng-click="setAppendMode(true, dish.Id)"> ✏ </div> <div class="dishes__delete-button"  ng-click="delete(dish.Id)"> ✘ </div></span></td>
                </tr>
                </tbody>
            </table>
            <button ng-click="setAppendMode(true)" ng-hide="appendMode" class="btn done">Добавить</button>
        </div>

        <div class="wrapper_edit_table" ng-hide="!appendMode">
            <div class="form">
                <form name="dishForm" class="dishes__form" >
                    <div class="form-Category" ng-class="{error: dishForm.name.$invalid}">
                        <label class="dishes__label">Название</label>
                        <input type="text" name="name" ng-model="form.name" required>
                    </div>
                    <div class="form-Category" ng-class="{error: dishForm.Cost.$invalid}">
                        <label class="dishes__label">Цена</label>
                        <input type="number" name="Cost" ng-model="form.Cost" required>
                    </div>
                    <div class="form-Category" ng-class="{error: dishForm.Category.$invalid}">
                        <label class="dishes__label">Категория</label>
                        <input type="text" name="Category" ng-model="form.Category" required>
                    </div>
                    <button ng-click="check()" ng-disabled="isClean() || dishForm.$invalid" class="btn done">Сохранить</button>
                    <button ng-click="setAppendMode(false)" class="btn close">Отмена</button>
                </form>
            </div>
        </div>
    </div>
</div>

