<div ng-controller="order">
   <header class="header">
      Зал - Столик
   </header>
   <div class="order-dishes">
      <div ng-repeat="category in categories" class="order-categoryBlock order-categoryName order-category{{category.Id}}" ng-click="selectCategory(category.Id);">
         {{category.Name}}
      </div>
      <br />
      <div ng-repeat="dish in dishes[currentCat]" class="order-dishBlock order-category{{currentCat}}" ng-click="selectDish(dish.Id);">
         <div class="order-dishName">{{dish.Name}}</div>
         <div class="order-dishCost">{{dish.Cost}}</div>
      </div>
   </div>
   <div class="order-orderDishes">
       <div class="order-orderDishesScroll">
       <div ng-repeat="dish in orderDishes" class="order-DishesInOrder order-category{{dish.Category}}" ng-click="SelectDishInOrder($index);">
           <div class="order-dishState">
                <div class="order-DishStateInOrder">{{dish.State}} </div>
           </div>
           <div class="order-orderDishName">
                <div class="order-DishNameInOrder">{{dish.Name}} </div>
           </div>
           <div class="order-orderDishCost">
                <div class="order-DishCostInOrder">{{dish.Cost}}-</div>
           </div>
       </div>
       </div>
       <div class="SummCost">
           Итого: {{SummCost}}
       </div>
       <div>
       <input type="button" class="toKitchen" ng-click="toKitchen();" value="На кухню">
       </input>
       </div>
       <div>
       <input type="button" class="toPay" ng-click="toPay();" value="Оплатить">
       </input>
        </div>
   </div>
</div>