<div ng-controller="order">
    <div class="header">
        <div class="wrapper_header">
            <h3 class="title_header">Зал 1 - Столик 1</h3>
            <div class="id_people">{{userFirstName}} {{userLastName}}</div>
            <a href="#/admin" class="btn_edit" style="display:{{isAdmin?'':'none'}};">Админ панель</a>
        </div>
    </div>
    <div class="content-order">
        <div>
   <div class=" order-dishes">
      <div ng-repeat="category in categories" class="order-categoryBlock order-categoryName order-category{{category.Id}}" ng-click="selectCategory(category.Id);">
         {{category.Name}}
      </div>
      <br />
      <div ng-repeat="dish in dishes[currentCat]" class="order-dishBlock order-category{{currentCat}}" ng-click="selectDish(dish.Id);">
         <div class="order-dishName">{{dish.Name}}</div>
         <div class="order-dishCost">{{dish.Cost}}</div>
      </div>
   </div>
   <div class="order-orderDishes">
       <div class="order-orderDishesScroll">
           <div ng-repeat="dish in orderDishes" class="order-DishesInOrder order-category{{dish.DishInfo.Category}}" ng-click="SelectDishInOrder($index);">
               <div class="order-dishState">
                    <div class="order-DishStateInOrder" ng-if="dish.Status===1">На кухне </div>
                    <div class="order-DishStateInOrder" ng-if="dish.Status===2">Выдан </div>
               </div>
               <div class="order-orderDishName">
                    <div class="order-DishNameInOrder">{{dish.DishInfo.Name}} </div>
               </div>
               <div class="order-orderDishCost">
                    <div class="order-DishCostInOrder">{{dish.DishInfo.Cost}}-</div>
               </div>
           </div>
       </div>
       <div class="SummCost">
           Итого: {{SummCost}}
       </div>
       <div>
       <input type="button" class="toKitchen" ng-click="toKitchen();" value="На кухню">
       </input>
       <div>
       <input type="button" class="toPay" ng-click="toPay();" value="Оплатить">
       </input>
        </div>
       </div>
   </div>

        </div>
    </div>
</div>
