<div ng-controller="room" ng-mouseup="release()" ng-mousemove="move($event)">

	<div>
	<button ng-click="zoom_plus()">zoom_plus</button>
	<button ng-click="zoom_minus()">zoom_minus</button>
	<button ng-click="open_create_table_window(null, true, false, false)">create table</button>
	</div>

	<div>
	<div id="room_background" class="room_background" style="top:0px;width:{{scene.width*scale}}px;height:{{scene.height*scale}}px;">
		<div ng-repeat="table in tables" class="room__table" style="transform:scale({{scale}});top:{{table.y*scale}}px;left:{{table.x*scale}}px;width:{{table.width}}px;height:{{table.height}}px" ng-mouseup="release()" ng-mousedown="capture(table.id, $event)">
			<div ng-click="on_table_click(table)" class="{{table.type}}" style="transform-origin: center center; transform: rotate({{table.angle}}deg);width:{{table.width}}px;height:{{table.height}}px">
				<div ng-repeat="chair in table.chairs" class="room__chair" style="transform: {{chair.transform}};top:{{table.height*chair.scale_height+chair.y}}px;left:{{table.width*chair.scale_width+chair.x}}px"></div>
				<button ng-click="open_create_table_window(table, false, true, true)">edit</button>
				<button style="position: absolute; left: 100%; top: 100%" ng-mousedown="rotating_begin(table)">r</button>
			</div>
		</div>
	</div>
	</div>

	<div class="new_table_div">
		<div>
			<div style="height:200px">
				<div class="{{new_table.type}}" style="left: 50%; top: 50%;
				     transform: translate(-50%, -50%) rotate({{new_table.angle}}deg);width:{{new_table.width}}px;height:{{new_table.height}}px">
					<div ng-repeat="chair in new_table.chairs" class="room__chair" style="transform: {{chair.transform}};top:{{new_table.height*chair.scale_height+chair.y}}px;left:{{new_table.width*chair.scale_width+chair.x}}px"></div>
				</div>
			</div>
			<div>
				<button ng-click="new_table_prev_button()">left</button>
				<button ng-click="new_table_next_button()">right</button>
			</div>
		</div>
		<div>
			<label>Chairs count</label>
			<select ng-model="ChairsSelector" ng-change="update_chairs_selector()"
					ng-options="i for i in range(0, TABLE_TYPE[new_table.id].chairs.length)"
					>
				<!--option ng-repeat="i in range(0, TABLE_TYPE[new_table.id].chairs.length)" value="{{i}}" selected="true">{{i}}</option!-->
			</select>
		</div>
		<button id="create_table_button" ng-click="create_new_table()">Create</button>
		<button id="update_table_button" ng-click="update_table()">Update</button>
		<button id="remove_table_button" ng-click="remove_table()">Remove</button>
		<button id="close_table_button" ng-click="close_table()">Close</button>
	</div>


</div>
