<div ng-controller="rooms">
   <div class="header">
      <div class="wrapper_header">
         <h3 class="title_header">Залы</h3>
         <div class="id_people">{{userFirstName}} {{userLastName}}</div>
          <a href="#/admin" class="btn_edit" style="display:{{isAdmin?'':'none'}};">Админ панель</a>
      </div>
   </div>
   <div class="rooms">
      <div class="pos_room" ng-repeat="room in rooms" ng-click="onClick(room)">
         <div class="content_rooms">
            <h3>{{room.Name}}</h3>
            <p class="places">
               39 мест
            </p>
            <p><font>Столы:</font>3/11</p>
            <p><font>Сумма:</font>15900 руб.</p>
         </div>
         <div class="logo_room"><img src="C:/images/{{rooms.photo}}"></div>
      </div>
   </div>
</div>