<div ng-controller="roomsadmin">

    <div class="header">
        <div class="wrapper_header">
            <h3 class="title_header">Спиcок залов</h3>
            <div id="buttonAddRooms" ng-click="addNew()" style="padding-top: 5px">
                <!--http://plnkr.co/edit/gIVdgTQ5MXKy8a19XKvz?p=preview-->
                <button class="btn done">
                    Добавить
                </button>
            </div>
            <div class="id_people">{{fio}}</div>
            <a href="#/admin" class="btn_edit" style="display:{{isAdmin?'':'none'}};">Админ панель</a>
        </div>
    </div>
    <div class="rooms">
        <div class="pos_room" ng-repeat="room in roomsadmin" style="position: relative">
            <div class="content_rooms" ng-click="onClick(room)">
                <h3>{{room.Name}}</h3>
                <p class="places">
                    {{room.totalPlace}} мест
                </p>
                <p><font>Столы:</font>{{room.freeTables}}/{{room.totalTables}}</p>
                <p><font>Сумма:</font>{{room.totalOpenOrder}} руб.</p>
            </div>

            <div class="logo_room"><img src="C:/images/{{rooms.photo}}"></div>
            <div class="dishes__edit-button" style="right: 43px; top: 3px; position: absolute; text-align: center;border-radius: 5px"  ng-click="amendRoomsadmin(room)"> ✏ </div>
            <div class="dishes__delete-button" style="right: 3px; top: 3px; position: absolute; text-align: center;border-radius: 5px"  ng-click="delRoomsadmin(room.Id)"> ✘ </div>
        </div>
    </div>

        <div id="wrapper_edit_table" style="position: absolute;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.7);display:{{formHidden?'none':'block'}};top: 0px">
            <div class="form" style="height: 180px; border-radius: 10px;">
                <form novalidate class="dishes__form" ng-submit="onSubmit($event)">
                    <input name="text" type="hidden" ng-model="Id">
                    <div class="form-Category" ng-class="{error: dishForm.name.$invalid}">
                        <label class="dishes__label">Название</label>
                        <input name="text" type="text" ng-model="Name" required style="border:{{LastName?'':'1px solid red'}}">
                    </div>
                    <div class="form-Category" ng-class="{error: dishForm.name.$invalid}">
                        <label class="dishes__label">Фото</label>
                        <input name="text" type="file" ng-model="Photo" required>
                    </div>
                    <input type="submit" value="Ок" class="btn done">
                    <input type="button" name="cancel" value="Отмена" ng-click="onCancel()" class="btn close">
                </form>
            </div>

        </div>

</div>