<div ng-controller="waiters">
    <div class="header">
        <div class="wrapper_header">
            <h3 class="title_header">Список официантов</h3>
            <div class="id_people">{{userFirstName}} {{userLastName}}</div>
            <a href="#/admin" class="btn_edit">Админ панель</a>
        </div>
    </div>
   <style>
      #prompt-form-container {
         position: fixed;
         top: 0;
         left: 0;
         z-index: 9999;
         display: none;
         width: 100%;
         height: 100%;
         text-align: center;
      }
      #prompt-form {
         display: inline-block;
         padding: 5px 5px 5px 10px;
         width: 200px;
         border: 1px solid black;
         background: white;
         vertical-align: middle;
      }
      #prompt-form-container:before {
         display: inline-block;
         height: 100%;
         content: '';
         vertical-align: middle;
      }

      #prompt-form input[name="text"] {
         display: block;
         margin: 5px;
         width: 180px;
      }
      .delBut {
         background-color: transparent;
         border: none;
         position: absolute;
         left: 300px;
         top: 3px;
         color: yellow;
      }
      .waiters__waitersBlock {
         position: relative;
         width: 290px;
      }
   </style>
   <div class="dishes_container" style="margin-top: 80px; float: left; width: 98%;">
       <div class="dishes_tableContainer" style="width: 100%; left;">
           <table class="dishes__table" style="width: 100%; float: left;">
               <thead class="dishes__table-head">
               <tr>
                   <th class="dishes__th">ФИО</th>
                   <th class="dishes__th">Редактирование</th>
               </tr>
               </thead>
               <tbody class="dishes__table-body">
               <tr ng-repeat="waiter in waiters">
                   <td class="dishes__th">{{waiter.FirstName + ' ' + waiter.LastName}}</td>
                   <td class="dishes__th" style="width:80px; margin:0 auto; height: 20px; text-align:center;">
                       <font style="">
                           <div class="dishes__edit-button" style="margin-left: 20px;"  ng-click="amendWaiters(waiter)"> ✏ </div>
                           <div class="dishes__delete-button"  ng-click="delWaiters(waiter.Id)"> ✘ </div>
                       </font>
                   </td>
               </tr>
               </tbody>
           </table>
       </div>
      <div id="buttonAddRooms" ng-click="addNew()" >
         <!--http://plnkr.co/edit/gIVdgTQ5MXKy8a19XKvz?p=preview-->
         <button class="btn done">
            Добавить
         </button>
      </div>
      <div id="wrapper_edit_table" style=" position: absolute;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.7);display:{{formHidden?'none':'block'}}">
         <div class="form">
            <form novalidate class="dishes__form" ng-submit="onSubmit($event)">
               <input name="text" type="hidden" ng-model="Id">
               <div class="form-Category" ng-class="{error: dishForm.name.$invalid}">
                  <label class="dishes__label">Имя</label>
                  <input name="text" type="text" ng-model="FirstName" style="border:{{FirstName?'':'1px solid red'}}" required>
               </div>
               <div class="form-Category" ng-class="{error: dishForm.name.$invalid}">
               <label class="dishes__label">Фамилия</label>
               <input name="text" type="text" ng-model="LastName" style="border:{{LastName?'':'1px solid red'}}" required>
</div>
            <input type="submit" value="Ок" class="btn done">
            <input type="button" name="cancel" value="Отмена" ng-click="onCancel()" class="btn close">
         </form>
      </div>
   </div>
</div>