/*-----------------Common---------------------*/

html{
   height: 100%;
}

.mainView{
   position: absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    width:100%;
    height:100%;
    background: url(../images/background.JPG) center 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main{
    width:100%;
    height: 100%;
    float: left;
}
.header{
    width:100%;
    padding: 40px 0px;
}
.logo{
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin: 0 auto;
}
.logo img{
    width: 160px;
    height: 160px;
}

/*-----------------Auth---------------------*/

/*Desktop*/

@media (min-width: 992px){
    .auth_people_block {
        width: 960px;
        height: 300px;
        margin: 20px auto 0px auto;
        background: rgba(0, 0, 0, 0.7);
        overflow: hidden;
        padding-bottom: 10px;
    }
    .auth_people {
        float: left;
        overflow-y: auto;
        width: 960px;
        height: 240px;
    }
    .auth_title_people {
        text-align: center;
        padding: 15px 0px;
        color: #fff;
        float: left;
        width: 98%;
    }
    .auth_pos_people {
        float: left;
        width: 98%;
        height: 30px;
        text-align:center;
        background: #DCE1E4;
        box-shadow: 0px 0px 2px #000;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-top: 10px;
        margin: 10px 5px;
        cursor:pointer;
    }
    .auth_pos_people:hover{
        background: #B3CB81;
        color: #fff;
        transition: ease 0.3s;
    }
    .auth_footer {
        width: 100%;
        height: 50px;
    }
    .auth_admin {
        border-radius: 10px;
        width: 250px;
        height: 40px;
        font-size: 18px;
        background:#F26700;
        color: #fff;
        padding-top: 16px;
        float: left;
        margin: 30px 0px 0px 10px;
        text-align:center;
        cursor: pointer;
    }
    .auth_admin:hover{
        background: #B3CB81;
        color: #fff;
        transition: ease 0.3s;
    }
    .auth_copyrights {
        float: right;
        margin: 55px 30px 0px 0px;
        color: #fff;
    }
}

/*Tablets*/

@media(min-width: 768px) and (max-width: 991px){
    .auth_people_block {
        width: 768px;
        height: 300px;
        margin: 10px auto 0px auto;
        background: rgba(0, 0, 0, 0.7);
        overflow: hidden;
        padding-bottom: 10px;
    }
    .auth_people {
        float: left;
        overflow-y: auto;
        width: 768px;
        height: 240px;
    }
    .auth_title_people {
        text-align: center;
        padding: 15px 0px;
        color: #fff;
        float: left;
        width: 98%;
    }
    .auth_pos_people {
        float: left;
        width: 48%;
        height: 50px;
        text-align:center;
        background: #DCE1E4;
        box-shadow: 0px 0px 2px #000;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-top: 10px;
        margin: 10px 5px;
        cursor:pointer;
    }
    .auth_pos_people:hover{
        background: #B3CB81;
        color: #fff;
        transition: ease 0.3s;
    }
    .auth_footer {
        width: 100%;
        height: 50px;
    }
    .auth_admin {
        border-radius: 10px;
        width: 250px;
        height: 40px;
        font-size: 18px;
        background:#F26700;
        color: #fff;
        padding-top: 16px;
        float: left;
        margin: 30px 0px 0px 10px;
        text-align:center;
        cursor: pointer;
    }
    .auth_admin:hover{
        background: #B3CB81;
        color: #fff;
        transition: ease 0.3s;
    }
    .auth_copyrights {
        float: right;
        margin: 55px 30px 0px 0px;
        color: #fff;
    }
}

/*Phones*/

@media(max-width: 767px){
    .auth_people_block {
        width: 100%;
        overflow: hidden;
        margin: 10px auto 0px auto;
        background: rgba(0, 0, 0, 0.7);
        padding-bottom: 10px;
    }
    .auth_people {
        float: left;
        width: 100%;
    }
    .auth_title_people {
        text-align: center;
        padding: 15px 0px;
        color: #fff;
        float: left;
        width: 98%;
    }
    .auth_pos_people {
        float: left;
        width: 48%;
        height: 40px;
        text-align:center;
        background: #DCE1E4;
        box-shadow: 0px 0px 2px #000;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-top: 10px;
        margin: 10px 5px;
        cursor:pointer;
    }
    .auth_pos_people:hover{
        background: #B3CB81;
        color: #fff;
        transition: ease 0.3s;
    }
    .auth_footer {
        width: 100%;
        height: 50px;
    }
    .auth_admin {
        border-radius: 10px;
        width: 250px;
        height: 40px;
        font-size: 18px;
        background:#F26700;
        color: #fff;
        padding-top: 16px;
        float: left;
        margin: 30px 0px 0px 0px;
        text-align:center;
        cursor: pointer;
    }
    .auth_admin:hover{
        background: #B3CB81;
        color: #fff;
        transition: ease 0.3s;
    }
    .auth_copyrights {
        float: right;
        margin: 55px 30px 0px 0px;
        color: #fff;
    }
}

/*-----------------Rooms---------------------*/

.rooms__roomBlock{
   width: 450px;
   height: 140px;
   background: #4C4C4C;
   border: 1px solid #333333;
   float: left;

}

/*------------------Room---------------------*/

.room__table{
	position: absolute;
	width: 100px;
	height: 100px;
	background: red;	
}

/*-------------admin---------------*/

/*.adminPanel a{
    text-align: center;
    color: white;
    font-size: 23px;
    padding: 41px;
}*/

/*.adminPanel__container {
    margin: 64px 8px;
}*/

/*---------------Dishes-----------*/

.dishes_container {
    margin: 4px;
}
.dishes__table {
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    color: white;
    margin-bottom: 8px;
}

.dishes__table-head {
    background: #AFCDE7;
}

.dishes__table-body {
    background: #AADDDD;
}

.dishes__th {
    padding: 10px 20px;
}

.dishes__th, .dishes__td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

.dishes__form label {
    color: #fff;
}
.dishes__form {
    width: 297px;
}


/* Orders */
.order-dishes{
    float: left;
}
.order-categoryBlock, .order-dishBlock {
   display: inline-block;
   width: 80px;
   height: 40px;
   margin: 2px 4px;
   padding: 2px 4px;
}
.order-dishName {
   text-align: center;
}
.order-categoryName {
   text-align: center;
   padding-top:10px;
}
.order-dishCost {
   text-align: right;
}
.order-category1 {/*супы*/
   background-color: #0ce3ac;
}
.order-category2 {/*салаты*/
   background-color: #aaffff;
}
.order-category3 {/*горячее*/
   background-color: #985f0d;
}
.order-category4 {/*гарниры*/
   background-color: #ac2925;
}
.order-category5 {/*напитки*/
   background-color: #c7254e;
}
.order-orderDishes{
    float:right;
    margin-bottom: 5px;
}
.order-DishesInOrder {
    background-color: darkgreen;
    width: 100px;
    height: 53px;
    margin-bottom: 5px;
}
.order-DishStateInOrder{
    -webkit-transform:rotate(270deg);
    font-size: 8pt;
    float: left;
    height: 10px;
    margin-left: -17px;
    margin-top:22px;
}
.order-DishNameInOrder{
    margin-top: 15px;
    float: left;
    padding-left: 2px;
}
.order-DishCostInOrder {
    font-size: 9pt;
    float: right;
    margin-right: 5px;
    margin-top: 35px;
}

/*width<620px*/
@media(max-width: 619px){
    .auth_pos_people {
        width: 98%;
        margin-right: 0;
        margin-left: 2px;
    }
}