html{
   height: 100%;
}
body{
   background: url(bg.png) repeat center;
   height: 100%;
   position: relative;
}

.mainView{
   position: absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
}

/*-----------------Common---------------------*/

.header{
   height:40px;
   background: #C3C3C3;
   font-size: 25px;
   padding: 0 20px;
}

/*-----------------Auth---------------------*/

.auth__btnWrapper{
   margin-bottom: 20px;
}

.auth__Scroller{
   position: absolute;
   left: 15%;
   right: 15%;
   top: 10%;
   bottom: 20%;
   overflow: auto;
}

.auth__adminBtn{
   float: right;
   margin: 0 40px 0 0;
}

/*-----------------Rooms---------------------*/

.rooms__roomBlock{
   width: 450px;
   height: 140px;
   background: #4C4C4C;
   border: 1px solid #333333;
   float: left;

}

/*------------------Room---------------------*/
.room__table {
   transform-origin: 0 0;
}

.room__table_square {
	position: absolute;
	width: 100px;
	height: 100px;
	background: red;	
}

/*-------------admin---------------*/

.adminPanel a{
    text-align: center;
    color: white;
    font-size: 23px;
    padding: 41px;
}

.adminPanel__container {
    margin: 64px 8px;
}

/*---------------Dishes-----------*/

.dishes_container {
    margin: 4px;
}
.dishes__table {
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    color: white;
    margin-bottom: 8px;
}

.dishes__table-head {
    background: #AFCDE7;
}

.dishes__table-body {
    background: #AADDDD;
}

.dishes__th {
    padding: 10px 20px;
}

.dishes__th, .dishes__td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

.dishes__form label {
    color: #fff;
}
.dishes__form {
    width: 297px;
}


/* Orders */
.order-dishes{
    float: left;
}
.order-categoryBlock, .order-dishBlock {
   display: inline-block;
   width: 80px;
   height: 40px;
   margin: 2px 4px;
   padding: 2px 4px;
}
.order-dishName {
   text-align: center;
}
.order-categoryName {
   text-align: center;
   padding-top:10px;
}
.order-dishCost {
   text-align: right;
}
.order-category1 {/*супы*/
   background-color: #0ce3ac;
}
.order-category2 {/*салаты*/
   background-color: #aaffff;
}
.order-category3 {/*горячее*/
   background-color: #985f0d;
}
.order-category4 {/*гарниры*/
   background-color: #ac2925;
}
.order-category5 {/*напитки*/
   background-color: #c7254e;
}
.order-orderDishes{
    float:right;
    margin-bottom: 5px;
}
.order-DishesInOrder {
    background-color: darkgreen;
    width: 100px;
    height: 53px;
    margin-bottom: 5px;
}
.order-DishStateInOrder{
    -webkit-transform:rotate(270deg);
    font-size: 8pt;
    float: left;
    height: 10px;
    margin-left: -17px;
    margin-top:22px;
}
.order-DishNameInOrder{
    margin-top: 15px;
    float: left;
    padding-left: 2px;
}
.order-DishCostInOrder {
    font-size: 9pt;
    float: right;
    margin-right: 5px;
    margin-top: 35px;
}


/*---------------Tables-----------*/

.room__table_circle {
   position: absolute;
   border-radius: 50%;
   width: 100px;
   height: 100px;
   background: green;
}

.room__table_bar {
   position: absolute;
   width: 200px;
   height: 100px;
   background: yellow;
}

.room__table_bar_up {
   position: absolute;
   width: 100px;
   height: 200px;
   background: white;
}

.room__chair {
   transform-origin: 0 0;
   position: absolute;
   width: 75px;
   height: 10px;
   background: brown;
}

.room_background {
   background: gray;
}

.new_table_div {
   visibility: hidden;
}